.create-page-title {
    font-weight: lighter;
    letter-spacing: -2px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 25px;
    margin: 0px 0px 20px 0px;
}

.create-page-elements {
    overflow: scroll;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.home-page-article {
    display: flex;
    height: 100%;
    align-items: center;
}
.home-page-article-picture {
    border-radius: 25px;
    height: 80%;
}

.home-page-article-title {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
}