#results-page {
  width: 70%;
  margin-left: 20px;
}

#search-results-page {
  display: flex;
  margin-top: 25px;
}

.user-search-result {
  padding-left: 55px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
  font-weight: lighter;
  font-size: 20px;
}

.show-results {
  padding-left: 75px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
  font-weight: lighter;
  font-size: 25px;
}

#search-results {
  margin-left: 25px;
}

.horizontal-line {
    width: 90%;
}

.result-type {
  /* margin-left: 75px; */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-weight: lighter;
  font-size: 23px;
}
.show-results-holder {
  /* border: solid red 2px; */
  height: 50px;
  width: 75%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  margin: 2px auto;

}

.show-results-holder:hover {
  background-color: grey;
  cursor: pointer;
}