.black-background {
    position: absolute;
    background-color: var(--color);
    width: var(--background-width);
    height: var(--background-height);
    opacity: var(--opacity);
    opacity: 1;
    filter: blur(var(--layer-blur));
    border-radius: var(--border-radius);
    left: 50%; 
    transform: translateX(-50%);
    margin-top: var(--margin-top);
    z-index: -1;
}